/* poppin font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f7;
}

.bg-blue {
  background-color: #5d5fef;
}

.fs-0 {
  font-size: 3rem;
}
.fs-7 {
  font-size: 0.8rem;
}

.text-grey {
  color: #898989;
}

.text-offwhite {
  color: rgba(255, 255, 255, 0.92);
}

.active {
  color: #5d5fef !important;
  border-bottom: 2px solid #3437f0;
}

.active:hover {
  color: #3437f0 !important;
}

.activeCat {
  color: #5d5fef;
  background-color: #eeefff;
}

.bg-darker {
  background: rgba(0, 0, 0, 0.7);
}
